///для задания размера size(ширина, высота)
@mixin size($width: 30px, $height: 30px) {
  width: $width;
  height: $height;
}

///миксин стилизации h2
@mixin style-h2 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $sfont-color;
  margin: 0;
  padding: 0;
}

@mixin title-medium {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $sfont-color;
  margin: 0;
  padding: 0;
}

@mixin text-item-form {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $sfont-color;
  margin: 0;
  padding: 0;
}

///миксин сброса стилей у ul, ol
@mixin list-style-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

///миксин сброса стилей для кнопок
@mixin btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

///миксин сброса отступов
@mixin indent-reset {
  margin: 0;
  padding: 0;
}

///миксин левого и правого отступа для страницы
@mixin page-padding {
  padding-left: 30px;
  padding-right: 30px;
}

@mixin page-padding-m {
  padding-left: 50px;
  padding-right: 50px;
}
