///-l это light

$mfont-color: #444444;

///secondary-font-color цвет заголовков, ссылок, !р
$sfont-color: #000000;

///цвет фона блоков
$backcolor: #f1f1f1;

$l-aquamarine: #63d1bb;

$aquamarine: #56c3b2;

$prodgroup-color: $aquamarine;

$prodgroup-l-color: $l-aquamarine;

$l-font-color: #ffffff;

$separator-color: #ececec;
