.advantages {
  @include page-padding;
  padding-top: 35px;

  @media (min-width: $medium-width) {
    @include page-padding-m;
    padding-top: 50px;
    padding-bottom: 35px;
  }

  @media (min-width: $large-width) {
    @include page-padding-l;
    padding-top: 60px;
  }


  .advantages__wrapper{
    width: 260px;
    margin: 0 auto;

    @media (min-width: $medium-width) {
      width: 668px;
    }

    @media (min-width: $large-width) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  .advantages__title {
    @include style-h2;
    margin-bottom: 25px;

    @media (min-width: $medium-width) {
      margin-bottom: 40px;
    }
  }

  .advantages__list {
    @include list-style-reset;

    @media (min-width: $medium-width), (min-width: $large-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .advantages__item {
    position: relative;
    box-sizing: content-box;
    width: 260px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: $sfont-color;
    padding-top: 60px;
    padding-bottom: 24px;


    @media (min-width: $medium-width) {
      font-size: 20px;
      line-height: 22px;
      width: 300px;
      padding-right: 34px;
      padding-bottom: 50px;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 5;
      }

      &:nth-child(4) {
        order: 2;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 6;
      }
    }

    @media (min-width: $large-width) {
      padding-right: 50px;
    }
  }

  .advantages__icon {
    position: absolute;
    fill: $l-aquamarine;
    top: 6px;
    left: 4px;

    &--flower {
      top: 3px;
      left: 7px;
    }

    &--money {
      left: 0;
    }

    &--rocket {
      top: 10px;
      left: -6px;
    }

    &--heart {
      top: 12px;
      left: 8px;
    }
  }
}
