.advantages {
  @include page-padding;

  padding-top: 35px;

  @media (min-width: $medium-width) {
    @include page-padding-m;

    padding-top: 50px;
    padding-bottom: 35px;
  }

  @media (min-width: $large-width) {
    @include page-padding-l;

    padding-top: 60px;
  }


  .advantages__wrapper {
    width: 260px;
    margin: 0 auto;

    @media (min-width: $medium-width) {
      width: 668px;
    }

    @media (min-width: $large-width) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  .advantages__title {
    @include style-h2;

    margin-bottom: 25px;

    @media (min-width: $medium-width) {
      margin-bottom: 40px;
    }
  }

  .advantages__list {
    @include list-style-reset;

    @media (min-width: $medium-width), (min-width: $large-width) {
      display: flex;

      flex-wrap: wrap;
    }
  }

  .advantages__item {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;

    position: relative;

    box-sizing: content-box;
    width: 260px;
    padding-top: 60px;
    padding-bottom: 24px;

    color: $sfont-color;

    &:before {
      position: absolute;
      top: 0;
      left: -10px;

      width: 60px;
      height: 45px;

      content: "";

      background: url("../img/feature-flower.svg") no-repeat 15px;
    }

    &--money {
      &:before {
        background: url("../img/feature-money.svg") no-repeat 10px 5px;
      }
    }

    &--heart {
      &:before {
        background: url("../img/feature-heart.svg") no-repeat 15px;
      }
    }

    &--ball {
      &:before {
        background: url("../img/feature-ball.svg") no-repeat center;
      }
    }

    &--rocket {
      &:before {
        background: url("../img/feature-rocket.svg") no-repeat center;
      }
    }

    &--gift {
      &:before {
        background: url("../img/feature-gift.svg") no-repeat center;
      }
    }

    @media (min-width: $medium-width) {
      font-size: 20px;
      line-height: 22px;

      width: 300px;
      padding-right: 34px;
      padding-bottom: 50px;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 5;
      }

      &:nth-child(4) {
        order: 2;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 6;
      }
    }

    @media (min-width: $large-width) {
      padding-right: 50px;
    }
  }
}
