.button {
  @include btn-reset;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  display: inline-block;

  width: 260px;
  min-height: 52px;
  padding: 14px 0;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: $mfont-color;
  border: 2px solid $mfont-color;

  &:hover {
    color: $l-font-color;
    background-color: $mfont-color;
  }

  &:active {
    color: rgba($l-font-color, 0.3);
  }
}
