.contacts {
  @media (min-width: $medium-width) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $large-width) {
    @include page-padding-l;

    display: flex;

    width: 1150px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 30px;

    flex-wrap: wrap;
  }

  .contacts__wrapper {
    @include page-padding;

    position: relative;

    width: 320px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 40px;

    &--center {
      text-align: center;
    }

    @media (min-width: $medium-width) {
      @include page-padding-m;

      width: 768px;
      padding-top: 60px;
      padding-bottom: 55px;

      &::before {
        position: absolute;
        top: 45px;
        right: 50px;

        width: 50px;
        height: 80px;

        content: "";

        background: url("../../img/icon-flag.svg") no-repeat center;
      }

      &--center {
        &::before {
          display: none;
        }
      }
    }

    @media (min-width: $large-width) {
      display: flex;
      flex-direction: column;

      width: 50%;
      margin: 0;
      padding: 0;
      padding-top: 70px;
      padding-bottom: 52px;
      padding-left: 175px;

      text-align: left;

      &::before {
        top: 60px;
        left: 60px;
      }

      &--center {
        padding-bottom: 0;
      }
    }
  }

  .contacts__title {
    @include style-h2;

    font-size: 18px;

    @media (min-width: $medium-width) {
      margin-bottom: 20px;

      order: -1;
    }

    @media (min-width: $large-width) {
      margin-bottom: 50px;
    }
  }

  .contacts__wrap {
    @media (min-width: $medium-width) {
      font-size: 17px;

      display: flex;
    }

    @media (min-width: $large-width) {
      display: block;
    }
  }

  .contacts__item {
    margin-top: 30px;

    @media (min-width: $medium-width) {
      width: 50%;
    }

    @media (min-width: $large-width) {
      width: auto;
      margin-top: 0;
      padding-bottom: 30px;
    }
  }

  .contacts__email-title,
  .contacts__adress-title {
    display: inline-block;

    max-width: 80px;
    padding-right: 25px;

    vertical-align: top;

    @media (min-width: $medium-width) {
      padding-right: 20px;
    }
  }

  .contacts__email-link {
    padding-bottom: 5px;

    color: $mfont-color;
    border-bottom: 1px solid $prodgroup-l-color;

    &:hover {
      color: $social-color;
      border-bottom: 1px solid $social-color;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .contacts__adress {
    @include indent-reset;

    display: inline-block;

    width: 150px;

    @media (min-width: $medium-width) {
      width: 225px;
    }
  }

  .contacts__map {
    font-size: 0;
    line-height: 0;

    position: relative;

    display: block;

    width: 320px;
    margin: 0 auto;

    text-align: center;

    @media (min-width: $medium-width) {
      overflow: hidden;

      width: 768px;
    }

    @media (min-width: $large-width) {
      width: 50%;
      height: 460px;
      margin: 0;
    }
  }

  .contacts__pin {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-30%, -85%);
  }
}

.contacts__write-us {
  @media (min-width: $medium-width) {
    width: 230px;
  }

  @media (min-width: $large-width) {
    margin-top: -125px;
  }
}
