.contacts {

  @media (min-width: $medium-width) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $large-width) {
    @include page-padding-l;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .contacts__wrapper {
    width: 320px;
    margin: 0 auto;
    @include page-padding;
    padding-top: 35px;
    padding-bottom: 40px;

    &--center {
      text-align: center;
    }

    @media (min-width: $medium-width) {
      width: 768px;
      padding-top: 60px;
      padding-bottom: 50px;

      @include page-padding-m;
    }

    @media (min-width: $large-width) {
      padding: 0;
      padding-top: 70px;
      width: 50%;
      margin: 0;
      padding-left: 175px;
      text-align: left;
      padding-bottom: 52px;
      display: flex;
      flex-direction: column;

      &--center {
        padding-bottom: 0;
      }
    }
  }

  .contacts__title {
    @include style-h2;
    font-size: 18px;

    @media (min-width: $medium-width) {
      order: -1;
      margin-bottom: 20px;
    }

    @media (min-width: $large-width) {
      margin-bottom: 50px;
    }
  }

  .contacts__wrap {

    @media (min-width: $medium-width) {
      display: flex;
      font-size: 17px;
    }

    @media (min-width: $large-width) {
      display: block;
    }
  }

  .contacts__item {

    margin-top: 30px;

    @media (min-width: $medium-width) {
      width: 50%;
    }

    @media (min-width: $large-width) {
      width: auto;
      padding-bottom: 30px;
      margin-top: 0;
    }
  }

  .contacts__email-title,
  .contacts__adress-title {
    display: inline-block;
    padding-right: 25px;
    vertical-align: top;
    max-width: 80px;

    @media (min-width: $medium-width) {
      padding-right: 20px;
    }
  }

  .contacts__email-link {
    color: $mfont-color;
    border-bottom: 1px solid $prodgroup-l-color;
    padding-bottom: 5px;
  }

  .contacts__adress {
    @include indent-reset;
    display: inline-block;
    width: 150px;

    @media (min-width: $medium-width) {
      width: 225px;
    }
  }

  .contacts__map {
    display: block;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    /* text-align: center;
    width: 320px; */
    @media (min-width: $medium-width) {
      width: auto;
      height: 460px;
      overflow: hidden;
    }

    @media (min-width: $large-width) {
      margin: 0;
      width: 50%;
      height: 460px;
    }
    //временно
    border: 1px solid black;
  }

  .contacts-img-map {
    @media (min-width: $medium-width) {
      height: 480px;
    }

    @media (min-width: $large-width) {
      height: 460px;
    }
  }
}

.contacts__write-us {
  @media (min-width: $medium-width) {
    width: 230px;
  }

  @media (min-width: $large-width) {
    margin-top: -125px;

  }
}
