.copyright {
  display: flex;

  width: 185px;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;

  @media (min-width: $medium-width) {
    margin: 0;
  }

  .copyright__icon {
    fill: $prodgroup-l-color;
  }

  .copyright__link {
    @include size(185px, 35px);

    font-size: 19px;
    font-weight: bold;
    line-height: 18px;

    display: flex;

    color: $sfont-color;

    justify-content: space-between;
    align-items: center;

    &:hover > .copyright__icon {
      fill: $social-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
