.copyright {
  width: 185px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $medium-width) {
    margin: 0;
  }

  .copyright__icon {
    fill: $prodgroup-l-color;
  }

  .copyright__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
    color: $sfont-color;

    @include size(185px, 35px);

    &:hover > .copyright__icon {
      fill: $social-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
