.modal {
  position: fixed;
  top: 35%;
  left: 50%;

  width: 320px;
  min-height: 335px;
  padding-top: 35px;
  padding-bottom: 35px;

  transform: translateX(-50%);

  border: 1px solid $border-popup;
  background: $bg-popup;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @include page-padding;

  @media (min-width: $medium-width) {
    width: 567px;
  }

  &--close {
    display: none;
  }

  .modal__wrapper {
    width: 260px;
    margin: 0 auto;

    @media (min-width: $medium-width) {
      width: 355px;
    }
  }

  .modal__title {
    text-align: center;
    text-transform: uppercase;

    @include style-h2;

    @media (min-width: $medium-width) {
      font-size: 30px;
      line-height: 57px;
    }
    @media (min-width: $large-width) {
      font-size: 30px;
      line-height: 57px;
    }
  }

  .modal__info {
    font-size: 15px;
    line-height: 30px;

    text-align: center;
  }

  @media (min-width: $medium-width) {
    font-size: 17px;
  }
}
