.order {

  @include page-padding;
  padding-top: 25px;
  padding-bottom: 55px;

  @media (min-width: $medium-width) {
    @include page-padding-m;
    padding-top: 75px;
  }

  @media (min-width: $large-width) {
      padding-top: 125px;
      padding-bottom: 50px;
    }

  .order__wrapper {
    width: 260px;
    margin: 0 auto;

    @media (min-width: $medium-width) {
      width: 668px;
    }

    @media (min-width: $large-width) {
      width: 1050px;
    }
  }

  .order__preface {
    @include indent-reset
    font-size: 13px;
    line-height: 24px;

    @media (min-width: $medium-width) {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 55px;
    }

    @media (min-width: $large-width) {
      padding-left: 175px;
      padding-right: 175px;
    }
  }

  .order__block-form {
    @include indent-reset;
    margin-top: 25px;
    border: none;

    @media (min-width: $medium-width) {
      margin-top: 0;
      margin-bottom: 70px;
      padding-left: 167px;
      position: relative;

      &--indent {
        margin-top: 85px;
        margin-bottom: 20px;
        }

      &:last-of-type {
        margin-bottom: 45px;
        margin-top: 90px;
      }
    }

    @media (min-width: $large-width) {
      padding-left: 175px;
      &:nth-of-type(n+3) {
        padding-right: 175px;
      }

      &:last-of-type {
        margin-bottom: 40px;
      }
    }
  }

  .order__legend {
    position: relative;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $prodgroup-l-color;
    margin-bottom: 20px;
    width: 100%;

    &--indent {
      margin-bottom: 5px;
    }

    @media (max-width: $mobile-width-only) {
      &::after {
        content: "";
        position: absolute;
        top: 7px;
        right: 0;
        width: 198px;
        height: 1px;
        background-color: $prodgroup-l-color;
      }

      &--line {
        &::after {
          width: 180px;
        }
      }
    }

    @media (min-width: $medium-width) {
      position: absolute;
      width: auto;
      top: 20px;
      left: 0;
    }

    @media (min-width: $large-width) {
      left: 60px;
    }
  }

  .order__type {
    display: block;

    @include text-item-form;
    padding-left: 65px;
    padding-top: 10px;
    padding-bottom: 15px;

    @media (min-width: $medium-width) {
      padding-left: 80px;
      margin-bottom: 25px;
      padding-top: 15px;
      padding-bottom: 20px;
    }
  }

  .order__name {
    @include text-item-form;
      padding-right: 25px;
  }

  .order__input-name {
    @include text-item-form;
    font-weight: normal;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid $sfont-color;
    margin-bottom: 15px;

    @media (min-width: $medium-width) {
      width: 370px;
      padding-left: 15px;
      padding-top: 20px;
      margin-bottom: 12px;

      &:first-of-type {
        width: 423px;
      }
    }

    @media (min-width: $large-width) {
      width: 570px;

      &:first-of-type {
        width: 620px;
      }
    }
  }

  .order__input-email {
    @include text-item-form;
    font-weight: normal;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid $sfont-color;
    margin-bottom: 10px;

    @media (min-width: $medium-width) {
      padding-left: 15px;
      padding-bottom: 12px;
    }
  }

  .order__input-tel {
    @include text-item-form;
    font-weight: normal;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $sfont-color;
    margin-bottom: 10px;

    @media (min-width: $medium-width) {
      padding-left: 15px;
      padding-bottom: 12px;
      border-bottom: 2px solid $sfont-color;
      font-size: 19px;
      margin-bottom: 0;
    }
  }

  .order__color-checkbox {
    display: block;

    @include text-item-form;
    padding-left: 65px;
    padding-top: 23px;
    padding-bottom: 20px;

    @media (min-width: $medium-width) {
      width: 230px;
      display: inline-block;
      padding-left: 80px;
      margin-bottom: 15px;
      padding-top: 20px;
      padding-bottom: 23px;

      &:nth-child(even) {
        margin-right: 30px;
      }
    }

    @media (min-width: $large-width) {
      margin-right: 30px;
    }
  }

  .order__wishes {
    @include text-item-form;
    font-weight: normal;
    outline: none;
    width: 100%;

    @include indent-reset;
    padding: 15px;
    border: 2px solid $sfont-color;
  }

  .order__footer-form {
    @media (min-width: $medium-width) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: $large-width) {
      padding-left: 175px;
      padding-right: 175px;
    }
  }

  .order__info {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
    margin-top: 10px;

    @media (min-width: $medium-width) {
      font-size: 17px;
      line-height: 30px;
      width: 334px;
      margin: 0;
      vertical-align: middle;
      text-align: right;
    }
  }

  .order__button {
    @media (min-width: $medium-width) {
      width: 230px;
    }
  }
}
