.order {
  width: 320px;
  @include page-padding;
  padding-top: 25px;
  padding-bottom: 50px;
  margin: 0 auto;

  .order__preface {
    @include indent-reset
    font-size: 13px;
    line-height: 24px;
  }

  .order__block-form {
    margin-top: 25px;
    border: none;
    border-top: 1px solid $prodgroup-l-color;
  }

  .order__legend {
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $prodgroup-l-color;
  }

  .order__type {
    display: block;
    @include text-item-form;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .order__name {
    @include text-item-form;
  }

  .order__input-name {
    border: none;
    outline: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid $sfont-color;
    margin-bottom: 25px;
  }

  .order__input-email {
    border: none;
    outline: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid $sfont-color;
  }

  .order__input-tel {
    border: none;
    outline: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $sfont-color;
  }

  .order__color-checkbox {
    display: block;
    @include text-item-form;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .order__wishes {
    outline: none;
    @include indent-reset;
    padding: 15px;
    border: 2px solid $sfont-color;
  }

  .order__info {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
  }
}
