.page-footer {
  @include page-padding;

  min-width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $backcolor;

  @media (min-width: $medium-width) {
    @include page-padding-m;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $large-width) {
    @include page-padding-l;
  }

  .page-footer__wrapper {
    margin: 0 auto;

    text-align: center;

    @media (min-width: $medium-width) {
      display: flex;

      justify-content: space-between;
    }
  }

  .page-footer__logo-wrapper {
    display: none;

    @media (min-width: $medium-width) {
      display: inline-block;

      width: 185px;
    }
  }

  .page-footer__logo {
    @include size(86px, 36px);

    display: block;

    box-sizing: content-box;

    text-align: left;

    &:hover > .page-footer__logo-icon {
      fill: $social-color;
    }

    &:active > .page-footer__logo-icon {
      opacity: 0.3;

      fill: $social-color;
    }

    @media (min-width: $medium-width) {
    }
  }

  .page-footer__logo-icon {
    @media (min-width: $medium-width) {
      width: 100px;
    }
  }
}
