.product {
  border-bottom: 1px solid $separator-color;
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 0;
    flex-direction: row;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: column;
    width: 317px;
    border: none;
    padding-bottom: 0;
    margin-right: 49.5px;
    margin-bottom: 0;
    padding-top: 60px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .product__wrapper {
    padding: 25px;
    border: 1px solid $l-font-color;

    &:hover {
      border: 1px solid $separator-color;
      box-shadow: 0 6px 10px rgba($sfont-color, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba($sfont-color, 0.1);
    }

    @media (min-width: $medium-width) {
      display: flex;
      flex-direction: column;
      width: 334px;
      flex-grow: 1;
    }
    @media (min-width: $large-width) {
      width: 317px;
      padding-top: 25px;
    }
  }

  .product__photo {
    @media (min-width: $medium-width) {
      margin: 0;
      width: 334px;
      height: 334px;
    }

    @media (min-width: $large-width) {
      width: 317px;
      height: 465px;
    }
  }

  .product__photo-link {
    line-height: 0;
    font-size: 0;

    &:hover + .product__wrapper {
      border: 1px solid $separator-color;
      box-shadow: 0 6px 10px rgba($sfont-color, 0.1);
    }

    &:active + .product__wrapper {
      box-shadow: 0 3px 5px rgba($sfont-color, 0.1);
    }

    @media (min-width: $medium-width) {
      height: 334px;
    }

    @media (min-width: $large-width) {
      height: 465px;
    }
  }

  .product__title-wrap {
    margin-bottom: 40px;

    @media (min-width: $medium-width) {
      // margin-bottom: 40px;
    }

    @media (min-width: $large-width) {
      margin-bottom: 15px;
    }
  }

  .product__title {
    @include title-medium;
    margin-bottom: 5px;

    a {
        color: $sfont-color;
      }

    @media (min-width: $medium-width) {
      font-size: 20px;
    }
  }

  .product__title-link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .product__description {
    @include indent-reset;
    font-size: 13px;

    @media (min-width: $medium-width) {
      font-size: 15px;
    }
  }

  .product__buy {
    display: flex;
    justify-content: space-between;

    @media (min-width: $medium-width) {
      padding-top: 15px;
      border-top: 1px solid $separator-color;
      margin-top: auto;
    }
  }

  .product__cost {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: $sfont-color;
    vertical-align: bottom;
    padding-left: 5px;

    @media (min-width: $medium-width) {
      font-size: 17px;
    }
  }

  .product__cart {
    padding: 3px;
    width: 25px;
    height: 25px;
    font-size: 0;

    &:hover > .product__cart-icon {
      fill:$icon-color;
      opacity: 1;
    }

    &:active > .product__cart-icon {
      fill:$icon-color;
      opacity: 0.3;
    }
  }

  .product__cart-icon {
    opacity: 0.2;
  }
}
