.product-group {
  position: relative;

  background-color: $background-image;

  @media (min-width: $medium-width) {
    @include page-padding-m;

    padding-bottom: 10px;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 23px;

      content: "";

      background: url("../../img/bg-zigzag-fill.svg") repeat-x bottom;
      background-size: auto 23px;
    }
  }

  @media (min-width: $large-width) {
    @include page-padding-l;

    padding-bottom: 20px;

    &:before {
      height: 37px;

      background-size: auto 37px;
    }
  }

  .product-group__wrapper {
    text-align: center;

    @media (min-width: $large-width) {
      max-width: 1150px;
      margin: 0 auto;
    }
  }

  .product-group__list {
    @include list-style-reset;

    @media (min-width: $medium-width) {
      display: flex;

      justify-content: center;
    }
  }

  .product-group__item {
    width: 100%;
    min-width: 320px;
    max-width: 575px;
    margin: 0 auto;

    background-color: $prodgroup-color;

    &--lighter {
      background-color: $prodgroup-l-color;
    }

    @media (min-width: $medium-width) {
      &:hover {
        margin-top: -5px;

        .product-group__link {
          padding-bottom: 35px;
        }
      }
    }
  }

  .product-group__link {
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;

    position: relative;

    display: inline-block;

    width: 100%;
    padding-top: 25px;
    padding-right: 160px;
    padding-bottom: 30px;
    padding-left: 30px;

    text-align: left;
    vertical-align: baseline;

    color: $l-font-color;

    @media (min-width: $medium-width) {
      font-size: 20px;
      line-height: 30px;

      padding-left: 35px;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 25px;

      width: 62px;
      height: 62px;

      content: "";
      transform: translateY(-31px);

      opacity: 0.5;
      background: url("../img/interior.svg") no-repeat center;
    }

    &--toys::after {
      background: url("../img/toy.svg") no-repeat center;
    }

    &:hover {
      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      color: rgba($l-font-color, 0.3);

      &::after {
        opacity: 0.3;
      }
    }
  }
}
