.product-group {

  @media (min-width: $medium-width) {
    @include page-padding-m;
  }

  @media (min-width: $large-width) {
      @include page-padding-l;
    }

  .product-group__wrapper {
    text-align: center;
  }

  .product-group__list{
    @include list-style-reset;

    @media (min-width: $medium-width){
      display: flex;
      justify-content: center;
    }
  }

  .product-group__item {
    background-color: $prodgroup-color;
    width: 100%;

    &--lighter {
      background-color: $prodgroup-l-color;
    }
  }

  .product-group__link {
    position: relative;
    display: inline-block;
    color: $l-font-color;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-right: 160px;
    padding-left: 30px;
    width: 100%;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      transform: translateY(-31px);
      opacity: 0.5;
      top: 50%;
      right: 30px;
      width: 62px;
      height: 62px;
      background: url('../img/icon-interior.svg') no-repeat center;
    }

    &--toys::after{
      background: url('../img/icon-toy.svg') no-repeat center;
    }
  }
}
