.product {
  display: flex;
  flex-direction: column;

  padding-top: 30px;

  border-bottom: 1px solid $separator-color;

  @media (min-width: $medium-width) {
    flex-direction: row;

    width: 100%;
    margin-bottom: 25px;

    border-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: column;

    width: 317px;
    margin-right: 49.5px;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 0;

    border: none;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .product__wrapper {
    padding: 25px;

    border: 1px solid $separator-color;

    &:hover {
      border: 1px solid $separator-color;
      box-shadow: 0 6px 10px rgba($sfont-color, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba($sfont-color, 0.1);
    }

    @media (min-width: $medium-width) {
      display: flex;
      flex-direction: column;

      width: 334px;

      flex-grow: 1;
    }
    @media (min-width: $large-width) {
      width: 317px;
      padding-top: 25px;
    }
  }

  .product__photo {
    @media (min-width: $medium-width) {
      width: 334px;
      height: 334px;
      margin: 0;
    }

    @media (min-width: $large-width) {
      width: 317px;
      height: 465px;
    }
  }

  .product__photo-link {
    font-size: 0;
    line-height: 0;

    &:hover + .product__wrapper {
      border: 1px solid $separator-color;
      box-shadow: 0 6px 10px rgba($sfont-color, 0.1);
    }

    &:active + .product__wrapper {
      box-shadow: 0 3px 5px rgba($sfont-color, 0.1);
    }

    @media (min-width: $medium-width) {
      height: 334px;
    }

    @media (min-width: $large-width) {
      height: 465px;
    }
  }

  .product__title-wrap {
    margin-bottom: 40px;

    @media (min-width: $large-width) {
      margin-bottom: 15px;
    }
  }

  .product__title {
    margin-bottom: 5px;

    @include title-medium;

    a {
      color: $sfont-color;
    }

    @media (min-width: $medium-width) {
      font-size: 20px;
    }
  }

  .product__title-link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .product__description {
    font-size: 13px;

    @include indent-reset;

    @media (min-width: $medium-width) {
      font-size: 15px;
    }
  }

  .product__buy {
    display: flex;

    justify-content: space-between;

    @media (min-width: $medium-width) {
      margin-top: auto;
      padding-top: 20px;

      border-top: 1px solid $separator-color;
    }
  }

  .product__cost {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;

    padding-left: 5px;

    vertical-align: bottom;

    color: $sfont-color;

    @media (min-width: $medium-width) {
      font-size: 17px;
    }
  }

  .product__cart {
    font-size: 0;

    width: 25px;
    height: 25px;
    padding-right: 5px;

    &:hover > .product__cart-icon {
      opacity: 1;

      fill: $icon-color;
    }

    &:active > .product__cart-icon {
      opacity: 0.3;

      fill: $icon-color;
    }
  }

  .product__cart-icon {
    opacity: 0.2;
  }
}
