.product-group {
  @media (min-width: $medium-width) {
    @include page-padding-m;
  }

  .product-group__list{
    @include list-style-reset;
    width: 320px;
    margin: 0 auto;

    @media (min-width: $medium-width){
      display: flex;
      justify-content: center;
    }
  }

  .product-group__item {
    width: 320px;
    background-color: $prodgroup-color;

    @media (min-width: $medium-width) {
     width: 334px;
    }

    &--lighter {
      background-color: $prodgroup-l-color;
    }
  }

  .product-group__link {
    position: relative;
    display: inline-block;
    color: $l-font-color;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-right: 160px;
    padding-left: 30px;

    &::after {
      content: "";
      position: absolute;
      transform: translateY(-31px);
      opacity: 0.5;
      top: 50%;
      right: 30px;
      width: 62px;
      height: 62px;
      background: url('../img/icon-interior.svg') no-repeat center;
    }

    &--toys::after{
      background: url('../img/icon-toy.svg') no-repeat center;
    }
  }
}
