.products {
  @include page-padding;
  padding-bottom: 30px;

  @media (min-width: $medium-width) {
    @include page-padding-m;
    padding-top: 40px;
  }

  .products__wrapper {
    width: 260px;
    margin: 0 auto;

    @media (min-width: $medium-width) {
      width: 668px;
    }

    @media (min-width: $large-width) {
      display: flex;
      flex-wrap: wrap;
      width: 1050px;
    }
  }
}
