.reviews {
  @include page-padding;
  padding-top: 30px;
  padding-bottom: 50px;

  @media (min-width: $medium-width) {
    @include page-padding-m;
    padding-top: 80px;
    padding-bottom: 135px;
    background: url('../img/review@1x.jpg') no-repeat left top;
  }

  @media (min-width: $large-width) {
    @include page-padding-l;
    background: url('../img/review@1x.jpg') no-repeat 100px top;
    padding-bottom: 190px;
  }
  .reviews__wrapper{
    width: 260px;
    margin: 0 auto;

    @media (min-width: $medium-width) {
      width: 668px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: $large-width) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  .reviews__title {
    @include style-h2;

    @media (min-width: $medium-width) {
      order: -1;
    }
  }

  .reviews__author {
    @include indent-reset;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: $sfont-color;
    margin-bottom: 30px;

    @media (min-width: $medium-width){
      width: 334px;
      margin: 0;

      b {
        font-size: 18px;
      }
    }
  }

  .reviews__text {
    @include indent-reset;
    margin-bottom: 30px;
    margin-top: 20px;
    @media (min-width: $medium-width){
      font-size: 17px;
      margin-top: 45px;
      margin-bottom: 55px;
    }

    @media (min-width: $large-width) {
      width: 785px;
      margin-bottom: 35px;
    }
  }

  .reviews__nickname {
    line-height: 30px;
    font-weight: normal;
    color: $mfont-color;
  }

  .reviews__btn-wrap {
    margin-bottom: 40px;

    @media (min-width: $medium-width){
      margin: 0;
    }
  }

  .reviews__button {
    @media (min-width: $medium-width){
      order: -1;
      width: 175px;
    }
  }
}
