.reviews {
  @include page-padding;

  padding-top: 30px;

  @media (min-width: $medium-width) {
    @include page-padding-m;

    padding-top: 80px;

    background: url("../img/review@1x.jpg") no-repeat left top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") no-repeat left top;
      background-size: 350px auto;
    }
  }

  @media (min-width: $large-width) {
    @include page-padding-l;

    background-position: 100px top;
  }

  .reviews__wrapper {
    position: relative;

    width: 260px;
    margin: 0 auto;
    padding-bottom: 45px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 23px;

      content: "";

      background: url("../img/bg-zigzag-line.svg") repeat-x bottom;
      background-size: auto 5px;
    }

    @media (min-width: $medium-width) {
      display: flex;

      width: 668px;
      padding-bottom: 135px;

      flex-wrap: wrap;
      justify-content: space-between;

      &::after {
        bottom: 5px;

        width: 100%;
        height: 23px;

        background-size: auto 15px;
      }
    }

    @media (min-width: $large-width) {
      width: 1050px;
      padding-bottom: 190px;
      padding-left: 175px;

      &::after {
        width: 100%;
        height: 23px;

        background-size: auto 21px;
      }
    }
  }

  .reviews__title {
    @include style-h2;

    @media (min-width: $medium-width) {
      order: -1;
    }
  }

  .reviews__author {
    @include indent-reset;

    font-size: 17px;
    font-weight: bold;
    line-height: 24px;

    margin-bottom: 30px;

    color: $sfont-color;

    @media (min-width: $medium-width) {
      width: 334px;
      margin: 0;

      b {
        font-size: 18px;
      }
    }
  }

  .reviews__text {
    @include indent-reset;

    margin-top: 20px;
    margin-bottom: 30px;

    @media (min-width: $medium-width) {
      font-size: 17px;

      margin-top: 45px;
      margin-bottom: 55px;
    }

    @media (min-width: $large-width) {
      width: 785px;
      margin-bottom: 35px;
    }
  }

  .reviews__nickname {
    font-weight: normal;
    line-height: 30px;

    color: $mfont-color;

    &:hover {
      color: $social-color;
      border-bottom: 1px solid $social-color;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .reviews__btn-wrap {
    margin-bottom: 40px;

    @media (min-width: $medium-width) {
      margin: 0;
    }
  }

  .reviews__button {
    @media (min-width: $medium-width) {
      width: 175px;

      order: -1;
    }
  }
}
