.site-list {
  @include list-style-reset;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
  &--opened {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    min-width: 100%;
    background-color: $l-font-color;
  }

  &--nojs {
    position: static;
    transform: translateX(0);
  }

    &--closed .site-list__item:nth-child(n+2) {
      display: none;
    }
  }

  @media (min-width: $medium-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 768px;
  }

  @media (min-width: $large-width) {
    width: 1150px;
  }

  .site-list__item {
    border-bottom: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--logo {
      position: relative;
    }

    &--hidden {
      display: none;
      font-size: 15px;
      line-height: 24px;
    }

    @media (min-width: $medium-width) {
      &--logo {
        width: 370px;
        align-items: flex-start;
        padding-left: 50px;
        order: -3;
      }

      &--search {
        order: -2;
        width: 83px;
        border-left: 1px solid $separator-color;
        border-right: 1px solid $separator-color;
      }

      &--hidden:last-of-type {
        display: block;
      }

      &--cart {
        order: -1;
        width: 315px;
      }

      &--hidden {
        border: none;
        border-top: 1px solid #ececec;
      }

      @media (max-width: $medium-width-only) {
        &--catalog {
          width: 217px;
          border: none;
          border-top: 1px solid #ececec;
        }

        &--form {
          width: 167px;
          border: none;
          border-top: 1px solid #ececec;
        }
      }
    }

    @media (min-width: $large-width) {
      &--logo {
        order: 1;
        width: 280px;
        padding-left: 30px;
        padding-top: 10px;
      }

      &--form {
        width: 235px;
        border-left: 1px solid #ececec;
      }

      &--search {
        order: 2;
      }

      &--cart {
        order: 3;
        width: 317px;
      }

      &--hidden {
        order: 4;
        display: block;
        width: 235px;
      }

      &--catalog {
        width: 235px;
      }

      &--hidden:last-of-type {
        width: 680px;
        text-align: right;
      }
    }
  }

  .site-list__link {
    @include title-medium;
    display: inline-block;
    width: 260px;
    padding-top: 28px;
    padding-bottom: 27px;
    padding-left: 45px;
    color: $sfont-color;

    &--hidden {
      font-size: 15px;
      line-height: 24px;
    }

    &--weight {
      font-size: 15px;
      line-height: 24px;
      font-weight: normal;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    @media (min-width: $medium-width) {
      width: 100%;

      padding-top: 33px;
      padding-bottom: 32px;

      &--search {
        width: 83px;
        font-size: 0;
        padding-left: 0;
        background: url("../img/icon-search.svg") no-repeat center;
        opacity: 0.2;
      }

      &--cart {
        padding-left: 85px;
      }

      &--weight,
      &--new,
      &--sale {
        @include under-header;
        font-size: 15px;
      }

      &--catalog {
        padding-left: 50px;
      }

      &--form {
        padding-left: 0;
      }

      &--weight {
        padding-right: 50px;
        width: 384px;
        text-align: right;
      }

      @media (max-width: $medium-width-only) {
        &--catalog,
        &--form,{
        @include under-header;
        font-size: 15px;
        }
      }
    }
    @media (min-width: $large-width) {
      &--form {
        padding-left: 35px;
      }

      &--weight {
        width: auto;
      }

      &--sale {
        padding-left: 35px;
      }
    }
  }

  .site-list__logo {
    display: inline-block;
    box-sizing: content-box;
    padding-top: 22px;
    padding-bottom: 21px;
    background: url('../img/logo-mobile.svg') no-repeat center;

    @include size(86px, 36px);

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }

    @media (min-width: $medium-width) {
      background-image: url('../img/logo-tablet.svg');
      @include size(112px, 46px);
    }

    @media (min-width: $large-width) {
      background-image: url('../img/logo-desktop.svg');
      @include size(148px, 72px);
      padding: 0;
    }
  }

  .site-list__toggle {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-11px);
    background: url('../img/icon-menu-open.svg') no-repeat center;

    @include size(22px, 22px);

    @include btn-reset;
    font-size: 0;

    &--opened {
      background: url('../img/icon-menu-close.svg') no-repeat center;
    }

    @media (min-width: $medium-width) {
      display: none;
    }
  }
}
