.site-list {
  @include list-style-reset;
  margin: 0 auto;

  @media (min-width: $medium-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 768px;
  }

  .site-list__item {
    border-bottom: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--logo {
      position: relative;

      @media (min-width: $medium-width) {
        width: 50%;
        align-items: flex-start;
        padding-left: 50px;
        order: -3;
      }
    }

    &--search {
      @media (min-width: $medium-width) {
        order: -2;
        width: 83px;
        border-left: 1px solid $separator-color;
        border-right: 1px solid $separator-color;
      }
    }

    &--cart {
      @media (min-width: $medium-width) {
        order: -1;
      }
    }
  }

  .site-list__link {
    @include title-medium;
    display: inline-block;
    width: 260px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    color: $sfont-color;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    &--search {
      @media (min-width: $medium-width) {
        width: 83px;
        font-size: 0;
        padding-left: 0;
        background: url("../img/icon-search.svg") no-repeat center;
        opacity: 0.2;
      }
    }
  }

  .site-list__logo {
    display: inline-block;
    box-sizing: content-box;
    padding: 20px 0;
    background: url('../img/logo-mobile.svg') no-repeat center;

    @include size(86px, 36px);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .site-list__toggle {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-11px);
    background: url('../img/icon-menu-open.svg') no-repeat center;

    @include size(22px, 22px);

    @include btn-reset;
    font-size: 0;

    @media (min-width: $medium-width) {
      display: none;
    }
  }
}
