.social {
  display: flex;

  width: 185px;
  margin: 0 auto;
  margin-bottom: 50px;

  justify-content: center;

  @media (min-width: $medium-width) {
    margin: 0;
  }

  .social__list {
    @include list-style-reset;
  }

  .social__item {
    font-size: 0;

    position: relative;

    display: inline-block;

    margin-right: 15px;

    vertical-align: middle;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .social__link {
    @include size (40px, 30px);

    display: flex;

    justify-content: center;
    align-items: flex-end;

    &:hover > .social__icon {
      fill: $social-color;
    }

    &:active > .social__icon {
      opacity: 0.3;

      fill: $social-color;
    }
  }
}
