.social {
  width: 260px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .social__list {
    @include list-style-reset;
  }

  .social__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;

    @include size (40px, 40px);
    //временно
    border: 1px solid black;
  }
}
