.social {
  width: 185px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;

  @media (min-width: $medium-width) {
    margin: 0;
  }

  .social__list {
    @include list-style-reset;
  }

  .social__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-right: 15px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include size (40px, 30px);

    &:hover > .social__icon {
      fill: $social-color;
    }

    &:active > .social__icon {
      fill: $social-color;
      opacity: 0.3;
    }
  }
}
