.top-weeks {
  @include page-padding;

  padding-top: 25px;


  @media (min-width: $medium-width) {
    @include page-padding-m;

    padding-top: 35px;
  }

  @media (min-width: $large-width) {
    @include page-padding-l;

    padding-top: 110px;
  }

  .top-weeks__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 260px;
    margin: 0 auto;
    padding-bottom: 35px;

    justify-content: center;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 23px;

      content: "";

      background: url("../../img/bg-zigzag-line.svg") repeat-x bottom;
      background-size: auto 5px;
    }

    @media (min-width: $medium-width) {
      position: relative;

      width: 668px;
      padding-bottom: 70px;

      &:after {
        bottom: 5px;

        width: 100%;
        height: 23px;

        background-size: auto 15px;
      }
    }

    @media (min-width: $large-width) {
      width: 1050px;
      padding-bottom: 100px;
      padding-left: 175px;

      &:after {
        width: 100%;
        height: 23px;

        background-size: auto 21px;
      }
    }
  }

  .top-weeks__title {
    @include style-h2;
    @include indent-reset;

    @media (min-width: $medium-width) {
      margin-bottom: 50px;
    }
  }

  .top-weeks__subtitle {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;

    margin-bottom: 25px;
    padding-top: 5px;

    text-transform: uppercase;

    color: $prodgroup-l-color;

    @media (min-width: $medium-width) {
      position: absolute;
      top: 5px;
      right: 15px;

      width: 100px;
      margin: 0;

      text-align: center;
    }

    @media (min-width: $large-width) {
      left: 30px;
    }
  }

  .top-weeks__description {
    @include indent-reset;

    line-height: 24px;

    width: 260px;
    margin-bottom: 15px;

    @media (min-width: $medium-width) {
      font-size: 17px;
      line-height: 30px;

      width: 290px;
      margin-bottom: 35px;
    }

    @media (min-width: $large-width) {
      margin-bottom: 40px;
    }
  }

  .top-weeks__table {
    width: 260px;

    border-collapse: collapse;

    @media (min-width: $medium-width) {
      width: 290px;
      margin-bottom: 55px;
    }

    @media (min-width: $large-width) {
      margin-bottom: 110px;
    }
  }

  .top-weeks__field {
    width: 38%;

    @media (min-width: $medium-width) {
      width: 33%;
    }
  }

  .top-weeks__field,
  .top-weeks__value {
    padding: 5px 0;

    border-bottom: 1px solid $separator-color;
  }

  .top-weeks__img {
    margin-top: 30px;
    margin-bottom: 20px;

    @media (min-width: $medium-width) {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 100px;

      width: 334px;
      height: 404px;
      margin: 0;
    }

    @media (min-width: $large-width) {
      width: 525px;
      height: 640px;
    }
  }

  .top-weeks__cost {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;

    width: 260px;
    margin-bottom: 25px;

    text-align: center;

    @media (min-width: $medium-width) {
      font-size: 20px;
      line-height: 24px;

      width: 290px;
      margin-bottom: 35px;
    }
  }
}

.top-weeks__button {
  @media (min-width: $medium-width) {
    width: 290px;
  }
}
