.top-weeks {
    @include page-padding;
    padding-top: 30px;

    @media (min-width: $medium-width) {
      @include page-padding-m;
    }

    @media (min-width: $large-width) {
      @include page-padding-l;
      padding-top: 130px;
    }

  .top-weeks__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    margin: 0 auto;

    @media (min-width: $medium-width) {
      position: relative;
      width: 668px;
    }

    @media (min-width: $large-width) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  .top-weeks__title {
    @include style-h2;

    @include indent-reset;

    @media (min-width: $medium-width) {
      margin-bottom: 55px;
    }
  }

  .top-weeks__subtitle {
    color: $prodgroup-l-color;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 5px;

    @media (min-width: $medium-width) {
      position: absolute;
      top: 0;
      right: 20px;
      width: 100px;
      text-align: center;
    }

    @media (min-width: $large-width) {
      left: 45px;
    }
  }

  .top-weeks__description {
    @include indent-reset;
    width: 260px;

    @media (min-width: $medium-width) {
      margin-bottom: 55px;
      width: 290px;
    }
  }

  .top-weeks__table {
    width: 260px;
    border-collapse: collapse;

    @media (min-width: $medium-width) {
      width: 290px;
      margin-bottom: 55px;
    }

    @media (min-width: $large-width) {
      margin-bottom: 105px;
    }
  }

  .top-weeks__field {
    width: 40%;
  }

  .top-weeks__field,
  .top-weeks__value {
    border-bottom: 1px solid $separator-color;
    padding: 5px 0;
  }

  .top-weeks__img {
    margin-top: 30px;
    margin-bottom: 25px;

    @media (min-width: $medium-width) {
      //временно
      margin: 0;
      width: 334px;
      height: 404px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    @media (min-width: $large-width) {
      width: 525px;
      height: 640px;
    }
  }

  .top-weeks__cost {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
    max-width: 290px;
  }
}

.top-weeks__button {
  @media (min-width: $medium-width) {
    width: 290px;
  }
}
